/* 文本型圆角背景导航 */
.m-nav, .m-nav li, .m-nav li a, .m-nav .corner {
	height: 40px;
	line-height: 40px;
	color: #fff;
}

.m-nav, .m-nav li, .m-nav .corner {
	background: url(../img/nav.png) no-repeat -9999px -9999px;
}

.m-nav {
	position: relative;
	margin: 60px 20px;
	text-align: center;
	letter-spacing: -0.307em; 
	*letter-spacing: normal; *word-spacing: 1px; /* 兼容IE */
	color: #fff;
	background-repeat: repeat-x;
	background-position: 0 0; 
}

.m-nav li, .m-nav li a {
	display: inline-block; 
	*display: inline; *zoom: 1;
}

.m-nav li {
	padding: 0 0 0 1px;
	font-size: 14px;
	letter-spacing: normal;
	word-spacing: normal;
	background-position: 0 -150px;
}

.m-nav li.first {
	background: none;
}

.m-nav li a, .m-nav li:hover {
	text-decoration: none;
	color: #fff;
}

.m-nav li a {
	padding: 0 20px;
	font-weight: bold;
}

.m-nav .corner {
	position: absolute;
	top: 0;
	display: inline-block;
	width: 6px;
	overflow: hidden; /* 可省略 */
}

.m-nav .corner-l {
	left: -6px;
	background-position: 0 -50px;
}

.m-nav .corner-r {
	left: 100%;
	background-position: 0 -100px;
}

/* 文本型圆角背景导航-居左 */
.m-nav-1 {
	text-align: left;
}

/* 文本型圆角背景居右 */
.m-nav-2 {
	text-align: right;
}